:root{
    --white:#FFFFFF;
    --platinium:#E8EBE4;
    --gray:#BEC1BB;
    --gray-light:#F8F8F8;
    --blue-bell:#A491D2;
    --soap:#CDC3E6;
    --pale-lavander:#D4DCFF;
    --dark-jungle:#1B1F21;
    --outer-space:#444749;
    --old-silver:#828485;
}
/*Genericos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 15px;
}
/*Scroll*/
::-webkit-scrollbar {
    width: 0.438rem;
}
::-webkit-scrollbar-track {
    background: var(--platinium);
}
::-webkit-scrollbar-thumb {
    background: var(--soap);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-bell);
}
/*Fonts*/
.roboto{
    font-family: 'Roboto', sans-serif;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.font-x-small{
    font-size: 0.625rem; /*10px*/
}
.font-small{
    font-size: 0.875rem; /*14px*/
}
.font-medium{
    font-size: 1rem; /*16px*/
}
.font-large{
    font-size: 2.813rem; /*45px*/
}
/*Flex*/
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
/*Flex*/
/*****/
main{
    min-height: 100vh;
}
.sidebar{
    border-right: 0.063rem solid var(--gray);
    flex-basis: 100%;
    flex-grow: 1;
    overflow: hidden;
    transition: flex-basis 0.3s ease-in-out;
}
.sidebar.off{
    flex-basis: 0;
}
.sidebar header{
    background-color: var(--white);
    border-bottom: 0.063rem solid var(--gray);
    position: sticky;
    top: 0;
    z-index: 1;
}
.sidebar header i{
    margin-left: 1rem;
}
.sidebar header i:hover{
    color: var(--blue-bell);
}
.user-state{
    color: var(--gray);
}
.new-chat{
    text-align: center;
    min-height: 9.375rem;
    padding: 1rem;
    border-bottom: 1px solid var(--gray);
}
.new-chat button{
    background-color: var(--blue-bell);
    border: 0;
    color: var(--white);
    flex-basis: 50%;
    height: 3.75rem;
    cursor: pointer;
    padding: 0 1.5rem;
}
.new-chat button:hover{
    background-color: var(--soap);
}
.new-chat button:focus{
   background-color: var(--gray);
}
.list-contacts{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 67px);
}
.sidebar header img,
.contact img{
    margin-right: 1rem;
}
.sidebar header,
.contact{
    padding: .5rem 1rem;
    cursor: pointer;
}
.contact{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.063rem solid var(--gray);
}
.contact:hover{
    background-color: var(--pale-lavander);
    border-bottom-color: transparent;
}
.contact-last-msg,
.contact-name{
    width: 70vw;
}
.chat{
    background-color: var(--gray-light);
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    transition: flex-basis 0.5s ease;
}
.chat button{
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    padding: 1rem;
}
.chat.on{
    flex-basis: 100%;
}
.init-chat{
    text-align: center;
    flex-basis: 85%;
}
.init-chat img{
    margin-bottom: 1rem;
    width: 90%;
}
/*Utilities*/
.rounded-circle {
  border-radius: 50%;
}
.d-block{
    display: block;
}
.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*responsive*/
@media screen and (min-width:575px){
    .init-chat img{
        width: 65%;
    }
}
@media screen and (min-width:800px){
    .sidebar{
        flex-basis: 40%;
    }
    .chat{
        flex-basis: 60%;
    }
    .chat button{
        display: none;
    }
    .contact-last-msg, 
    .contact-name{
        width: 25vw;
    }
    .init-chat img{
        width: 55%;
    }
}
@media screen and (min-width:1200px){
    .sidebar{
        flex-basis: 25%;
    }
    .chat{
        flex-basis: 75%;
    }
    .contact-last-msg, 
    .contact-name{
        width: 17vw;
    }
    .init-chat img{
        width: 400px;
    }
}
@media screen and (min-width:1600px){
    .sidebar{
        flex-basis: 20%;
    }
    .chat{
        flex-basis: 80%;
    }
    .contact-last-msg, 
    .contact-name{
        width: 14vw;
    }
}